{% extends "okazoUserBundle::layout.html.twig" %}

{% block websiteHeader_Right %}
    <h1>Mot de passe oublié</h1>
{% endblock %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
