{% extends "okazoUserBundle::layout.html.twig" %}

{% block websiteHeader_Right %}
    <h1>Mot de passe oublié</h1>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
