/*
        99Lime.com HTML KickStart by Joshua Gatcke
        style.css
        
*/

/*---------------------------------
        IMPORTS
-----------------------------------*/
/*@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);*/
/*@import "paginator.css";*/
@import "footer.css";
/*@import "tables.css";*/
/*@import "userMenu.css";*/
html, body {
    height: 100%;
    /*full width with bootstrap*/
    /*
    padding: 0 15px;
    margin: 0 -15px;
    */
}

/*Modifications bootstrap*/
.navbar-flat {
    border-radius: 0;
}
.radio, .checkbox {
    min-height: inherit;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { 
    cursor: auto;
}

.gallery a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    position: relative;
}

#listeAnnonces td{
    vertical-align: middle;
}
#listeAnnonces tbody{
    font-size: 0.9em;
}

#websiteHeader h1 {
    font-size: 4em;
}
#websiteHeader a {
    text-decoration: none;
}
#websiteHeader {
    margin-bottom: 20px;
    /*height: 100px;*/
}

/* TEST DE DOUBLE BOUTONS SUR NAVBAR */
.navbar-btn-left {
    float:left;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-btn-right {
    width: 35px;
    height: 40px;        
}

/*
#websiteHeader form {
    display:table-cell;
    height: 100px;
    vertical-align: middle;
    float:none;
}
*/
#websiteHeader .websiteHeaderLogo {
    height: 100px;
}

.bootstrapSizeDebuger {
    position: absolute;
    top:0;
    left: 0;
    z-index: 10000;
}

.gotop {
    bottom: 5px;
    position: fixed;
    right: 5px;
    z-index: 1339;
}

.gotop a {
    background: url("img/go-top.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 52px;
    text-indent: -13337px;
    width: 52px;    
}

.col-centered {
    float:none;
    margin: 0 auto;
}