/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import "paginator.css";
@import "footer.css";
@import "tables.css";
@import "userMenu.css";

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: arial, sans-serif;
    font-weight: bold;
    line-height: 1.1em;
    /*margin-bottom: 0.8em;*/
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 13px;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 11px;
}

h5 {
    font-size: 10px;
}

h6 {
    font-size: 9px;
}

.header_style_3 {
    border-bottom: 1px solid #FF6600;
    font-size: 13px;
    margin: 5px 0;
    padding-bottom: 5px;    
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#ffffff;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
/*
width: 1024px;
margin: auto;
*/
width: 100%;
position: absolute;
min-height: 100%;
}

#wrap{
/*width:960px;/*960*/
margin: auto 10px;
width: 1240px;
min-width: 975px;
background:#fff;
margin:0px auto 0px auto;
padding:0;
}

.menu{
margin:-1px -1px 0 -1px;
}

#websiteHeader{
    background: none repeat scroll 0 0 #ffffff;
    height: 100%;
    margin-bottom: 0px;
    /*width: 100%;*/
}

#websiteHeader #websiteName {
    margin: 0 0;
}

#websiteHeader #websiteSlogan {
    margin-top: -10px;
    font-weight: normal;
}

#websiteHeader a{
    text-decoration: none;
    color: inherit;
}

#websiteHeader #websiteLogo {
    /*width: 100%;*/
    /*margin-top: -20px;*/
    /*margin-bottom: 0px;*/
    height: 80px;
}

#social_login{
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}

/*User Header*/
.headerUser {
    background: none repeat scroll 0 0 #F5F5F5;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    /*border-radius: 0px 0px 5px 5px;    */
    /*margin: 30px 0 20px;*/
    margin-left: auto;
    margin-right: auto;
    /*padding: 1px 10px 2px;*/
    /*position: relative;*/
    left: 0;
    /*top: -1px;*/
    border-top-width: 0;
    height: 25px;
    /*width: 80%;*/
    line-height: 20px;
}

.headerUser .fbConnect {
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    vertical-align: middle;
}

#listeCategories {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 8px;
    /*width: 220px;*/
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 6px #CCCCCC inset;    
    font-size: 1em;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;    
}

#listeCategories:focus {
    box-shadow: 0 0 7px #6DB9FF;
    border: 1px solid #50B1FE;
    outline: medium none;    
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition:  none;
}

input,
textarea,
button,
a.button,
a{
    /*transition: box-shadow 2s, border 2s, background 2s;*/
    transition: none !important;
    /*-moz-transition: -moz-box-shadow 2s, ease 0s, border 2s, ease 0s, background 2sease 0s;*/
    -moz-transition: none !important;
    /*-webkit-transition: -webkit-box-shadow 2s, ease 0s, border 2s, ease 0s, background 2s, ease 0;*/
    -webkit-transition: none !important;
    /*-o-transition:  -o-box-shadow 2s, ease 0s, border 2s, ease 0s, background 2s,ease 0s;*/
    -o-transition:  none !important;
}

input:focus, textarea:focus, button:focus, a.button:focus, select:focus, .rte-editor:focus, textarea.rte:focus {
    border: 1px solid #50B1FE;
    box-shadow: 0 0 7px #6DB9FF;
    outline: medium none;
}

#listeCategories .mainCategorie {
    font-weight: bold;
    background-color: #E0F0FF;
}

.ajaxThrobber {
    background-image: url("./img/throbber.gif");
    width: 22px;
    height: 22px;
    float: left;
    display: none;
}

#ajaxThrobberCategories {
    margin-top: 50px;
    margin-left: -22px;
}

.ui-autocomplete-loading {
        background: white url('./img/ui-anim_basic_16x16.gif') right center no-repeat;
}

/*Modifications personnelles  des sticky notific8*/
.left .jquery-notific8-close-sticky {
    top: 1.78em;
}
.right .jquery-notific8-close-sticky {
    top: 1.78em;
}
.jquery-notific8-container {
    font-family: Segoe UI;    
}
.jquery-notific8-notification {
    -moz-box-sizing: content-box;
}
.left .jquery-notific8-notification {
    background-position:left 2px bottom 2px;
}
.left .jquery-notific8-heading {
    text-align: left;
    margin-left: 15px;
    overflow: hidden;
}
.left .jquery-notific8-message {
    text-align: left;
    margin-left: 15px;
    overflow: hidden;
}
.right .jquery-notific8-notification {
    background-position:right 2px bottom 2px;
}
.right .jquery-notific8-heading {
    text-align: left;
    margin-right: 15px;
    overflow: hidden;
}
.right .jquery-notific8-message {
    text-align: left;
    margin-right: 15px;
    overflow: hidden;
}
.jquery-notific8-notification.teal {
    background-image: url('img/notice.png');
    background-repeat: no-repeat;
}
.jquery-notific8-notification.ruby {
    background-image: url('img/error.png');
    background-repeat: no-repeat;
}
.jquery-notific8-notification.lime {
    background-image: url('img/success.png');
    background-repeat: no-repeat;
}
.jquery-notific8-notification.lemon {
    background-image: url('img/warning.png');
    background-repeat: no-repeat;
}
/*Icone de fermeture sur les notifications sticky*/
.jquery-notific8-close-sticky {
    background-image: url('img/icon-close.png');
    background-repeat: no-repeat;
    background-position: top right;        
    background-color: transparent !important;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    padding: 0;
    width: 16px;
    height: 16px;
    text-transform: none;
    cursor: auto;    
}
.right .jquery-notific8-close-sticky {
    top: 0;
    right: 0;
    transform: none;
}
.left .jquery-notific8-close-sticky {
    top: 0;
    left: 0;
    transform: none;
}

/*Bouton de fermeture sur les notifications non sticky*/
.jquery-notific8-notification.lemon .jquery-notific8-close {
    background-color: transparent;
}
.jquery-notific8-notification.teal .jquery-notific8-close {
    background-color: transparent;
}
.jquery-notific8-notification.ruby .jquery-notific8-close {
    background-color: transparent;
}
.jquery-notific8-notification.lime .jquery-notific8-close {
    background-color: transparent;
}
.left .jquery-notific8-close {
    background-image: url('img/icon-close.png');
    background-repeat: no-repeat;
    background-position: top left;  
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    text-transform: none;
    cursor: auto;
}
.right .jquery-notific8-close {
    background-image: url('img/icon-close.png');
    background-repeat: no-repeat;
    background-position: top right;  
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    text-transform: none;
    cursor: auto;
}
.jquery-notific8-close span {    
    color: transparent;
}