/*
    Définition des styles de tables personnalisées
*/

/* ---------- STYLE 1 ----------*/
.tableStyle1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.tableStyle1 td {
    border-bottom: none;
    padding-bottom:0px;
    border: none;
    text-align: left;
    font-size: 0.9em;
    padding-bottom: 0;
    padding-top: 0;
}