{% extends "::base.html.twig" %}

{% block user%}
    {% include 'okazoUserBundle:Blocks:userMenu.html.twig' %}
{% endblock %}

{% block websiteHeader %}
    {% block websiteHeader_Left %}
        {{parent()}}
    {% endblock websiteHeader_Left %}
    {% block websiteHeader_Right %}
        {{parent()}}
    {% endblock %}
{%endblock%}

{% block body %}
<div class="mainContent" style="width: 1024px; margin: auto;">
        {%block adminContent%}
    no content
        {%endblock adminContent%}
</div>
{% endblock body%}

{% block javascripts %}
    {{parent()}}
{% endblock %}