{% extends "::base.html.twig" %}

{% block websiteHeader_Right %}
    <h1>Users Layout</h1>
{% endblock %}

{% block body %}
        <div style="width: 75%; margin: auto;">		
            {% block fos_user_content %}
            {% endblock fos_user_content %}		
        </div>
{% endblock %}