{%if app.debug %}
    <div class="bootstrapSizeDebuger">
        <div class="visible-xs">.col-xs-*</div>
        <div class="visible-sm">.col-sm-*</div>
        <div class="visible-md">.col-md-*</div>
        <div class="visible-lg">.col-lg-*</div>
    </div>
{%endif%}
