parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     okazoeeu_okazo
    database_user:     okazoeeu_okazo
    database_password: 41434143a

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            e73ab840398a24ffd7a0cb390f5f942af0379161
    
