{% extends "::base.html.twig" %}

{% block header%}
    {{ parent() }}
{% endblock %}

{% block websiteHeader %}
    {% block websiteHeader_Left %}
        {{ parent() }}
    {%endblock%}

    {% block websiteHeader_Right %}
        {{parent()}}
        {#
        <div class="col_10" style="margin-bottom: 0px;">
            {#{%block search%}#}
                {#{% include 'okazoannoncesBundle:blocks:search.html.twig' %}#}
            {#{% endblock %}#}
        {#
        </div>
        #}
    {%endblock%}
{%endblock%}

{% block body %}
    <div class="mainContent">
        {# Publicité google du haut de page #}
        {#
        {% include 'okazoMainBundle:blocks:adsGoogleHorizontalTop.html.twig' %}
        #}
        
        {# Liste des annonces #}
        <div class="col-sx-12 col-sm-12 col-md-9 col-lg-9" id="listeAnnonces">
        {%block listeAnnonces %}        
            {% include 'okazoannoncesBundle:annonces:listeAnnonces.html.twig' %}        
        {%endblock%}
        </div>        

        {# Colonne de droite #}
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3" id="colonneDroite">
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=125464904285037";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            {#<div class="fb-like" data-href="http://www.okazo.eu/" data-send="false" data-width="225" data-show-faces="true"></div>#}
            <style>
                /*Hack de la facebook like page pour l'avoir en responsive */
                /* Cet élément block le script injecté dans l'iframe. On le cache */
                #fb-root { display: none; }
                /* on redéfini la taille du contenu */
                .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100% !important; }
            </style>
            <div style="padding-top: 40px; padding-bottom: 0; padding-left: 0; padding-right: 0;" class="fb-like-box" data-href="https://www.facebook.com/pages/Okazo/613317148699358" data-width="292" data-show-faces="true" data-stream="false" data-show-border="false" data-header="true"></div>

            {# Publicité google du côté droit #}
            {% include 'okazoMainBundle:blocks:adsGoogleVerticalRight.html.twig' %}

        </div>
    </div>
{%block pagination %}{%endblock pagination %}
{% endblock %}