<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit vertical col_5">
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-success" type="submit">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
