{% extends "okazoUserBundle::layout.html.twig" %}

{% block websiteHeader_Right %}
    <h1 class='text-center'>Edition de profil</h1>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
