{% extends "FOSUserBundle::layout.html.twig" %}

{% block websiteHeader_Right %}
    <h1>Votre profil</h1>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
