{% extends "FOSUserBundle::layout.html.twig" %}

{% block websiteHeader_Right %}
    <h1>Création de compte</h1>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
